
.wrapper{
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
}
body{
  background-color:beige ;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

 nav ul{
 list-style-type: none;
 display: flex;
 align-items: center;
}

nav li{
  padding: 1rem;
}

nav a {
  padding: 1em 2em;
  text-transform: uppercase;
  text-decoration: none;
  color: darkgoldenrod;
}

nav a:hover{
  background-color: gray;
  border-radius: 2em;
  color: beige;
}

 main{
  display: flex;
  gap: 40px;
  margin: 35px;
 }
 
 header h1{
  text-align: center;

 }

 .intro-content{
  flex: 2;
 }

 .side-column{
  flex: 1;
  background: #f9f9f9;
  padding: 20px;
  border-top: 4px solid #cc0000;

 }

 footer{
  text-align: center;
  padding: 25px;
  border-top: 1px;
 }