
.wrapper{
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  background-color: #f0f4f8;
  border: 1px solid #003087;
  box-shadow: 0rem 4px 10px rgba(0, 0, 0, 0.2);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
}
body{
  background-color:white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

 nav ul{
 list-style-type: none;
 display: flex;
 align-items: center;
}

nav li{
  padding: 1rem;
}

nav a {
  padding: 1em 2em;
  text-transform: uppercase;
  text-decoration: none;
  color: gold;
}

nav a:hover{
  background-color: #ffd700;
  border-radius: 2em;
  color: #003087;
}

 main{
  display: flex;flex-direction: column;
  gap: 40px;
  margin: 35px;
  padding: 10px;
 }
 header{
  background-color:#003087;
 }
 
 header h1{
  text-align: center;
  font-size: 1.8rem;
  color: #ffd700;
  padding: 1rem;

 }

 h2{
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: darkslateblue;
 }

 .intro-content{
  flex: 2;
 }

 .side-column{
  flex: 1;
  background: #f9f9f9;
  padding: 20px;
  border-top: 4px solid #cc0000;

 }


 .rate-contianer{
  max-width: 100%;
  width: 600px;
  height: auto;
  display: block;
  margin: 0 auto;
  border: 5px solid white;
  box-shadow: 0 4px 8px rgba(0 0, 0, 0.2);
 }
 .top-prof{
  max-width: 500%;
  width:100%;
  height: auto;
  display: block;
  margin: 20px auto;
 }

 .top-prof img{
  width: 100%;
  height: auto;
  display: block;
 }

 .columns-container{
  display: flex;
  gap: 20px;
 }

 .bad-prof{
  flex: 1;
  background: #f9f9f9;
  padding: 15px;
  border-top: 4px solid #cc0000;
 }

 .good-prof{
  flex: 1;
  background: #f9f9f9;
  padding: 15px;
  border-top: 4px solid green;
 }

 .bad-prof img{
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 10px;
 }
 .good-prof img{
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 10px;
 }

 h3{
  font-size: 1.2rem;
  margin-bottom:8px ;
  color: #5a3e1b;
 }

 footer a{
  font-size: 1.5rem;
  margin: 0 15px;
  color: #ffd700;
 }

 footer a:hover{
  color: #003087;
 }